/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: #24868F;
}


.menu {
  font-size: 30px;
  right: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  border: 1px solid black 
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style:none;
}

.menu a {
  padding: 15px 20px;
  display: block;
  border-radius: 40px;
  transition: background-color 1s, color 1s;
}
.menu a:active,
.menu a:hover {
  background-color: #24868F;
  color: white;
}
a {
  text-decoration: none;}



.wrapper{
  width: 450px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #24868F;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

#tarefaDia{
  background-color: white;
  position: fixed;
  display: none;
  padding: 30px;
  width: 500px;
  right: 0;
  bottom: 0;
  top:0;
  z-index: 1;
  border: 3px solid black 
  
}

#semDiv{
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 2;
  display: none;
  background-color: #333;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 3px 13px;
  border-radius: 5px;
}

#semDiv:hover{
  background-color: #555;
  border-radius: 100%;
}